<div class="mx-auto w-4/5">

  <h2 class="text-2xl text-gray-900">
    Shopping List
  </h2>
  <div class="w-full max-w-2xl bg-gray-100 py-8 px-4 border border-gray-200 rounded shadow-sm">

  <ul id="items">
    <%= render @items %>
  </ul>

  <div class="py-2 px-4">
    <%= render 'form', item: @item %>
  </div>
</div>