<h1>Items</h1>

<turbo-frame id="unpurchased">
  <ul data-controller="items">
    <%= render @items.select{ |item| not item.purchased } %>
  </ul>

  <%= render 'form', item: @item %>
</turbo-frame>

<turbo-frame id="purchased">
  <h3>Purchased (<%= @items.select{ |item| item.purchased }.count %>)</h3>
  <ul data-controller="items">
    <%= render @items.select{ |item| item.purchased } %>
  </ul>
</turbo-frame>
